/*标题*/
.header h3{
    color: #fff;
    line-height: 1rem;
    text-align: center;
}
/*下拉菜单*/
.search{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #e0e0e0;
    top: 49px;
    right: 1px;
}
.search img{
    width: 80%;
    height: 80%;
    margin: 5px;
    transform: rotate(90deg);
}
.dropdown button{
    background-color: #fff;
    border: none;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 26%;
    overflow: hidden;
}
.dropdown .caret{
    border-top: none;
    border-bottom: 4px dashed;
}
.dropdown-menu{
    width: 100%;
    border: 1px solid #e0e0e0;
}
.dropdown-menu li{
    border-bottom: 1px solid #e0e0e0;
    height: 30px;
    line-height: 30px;
}
/*商品列表*/
.good-list{
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.gshop{
    width: 49%;
    background-color: #fff;
    float: left;
    margin-bottom: 8px;
    height: 250px;
}
.gshop img{
    width: 100%;
    height: 200px;
}
.gshop .tit{
    display: block;
    width: 96%;
    overflow: hidden;
    height: 14px;
    margin-bottom: 8px;
    text-indent: 1em;
}
.gshop .pri{
    color: #F85D21;
    font: 16px 'Microsoft YaHei';
    padding-left: 1em;
}
.gshop button{
    color: #fff;
    background-color: #FF9501;
    float: right;
    border: none;
    margin-right: 1em;
    width: 40px;
    height: 20px;
    border-radius: 2px;
}