<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>television 第3页</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/television.css">
</head>
<body>
<!--顶部通栏-->
<div class="mmm_header">
    <img class="header_logo" src="images/header_logo.png" alt="">
    <img class="header_app" src="images/header_app.png" alt="">
</div>
<!--顶部搜索栏-->
<div class="mmm_search">
    <input class="ms_txt" type="text" placeholder="请输入你想比价的商品">
    <input class="ms_btn" type="button" value="搜索">
</div>
<!--三级菜单栏-->
<div class="nav clearfix"></div>
<!--商品列表-->
<div class="tele_info clearfix"></div>
<!--上下翻页-->
<div class="tel_page clearfix">
    <button class='tp_up'>上一页</button>
    <select id="tel_sel"></select>
    <button class='tp_down'>下一页</button>
</div>
<!--底部栏-->
<div class="mmm_foot clearfix">
    <ul>
        <li>
            <a href=":;javascript">登录</a>
        </li>
        <li>
            <a href=":;javascript">注册</a>
        </li>
        <li>
            <a href="#">返回顶部</a>
        </li>
    </ul>
    <p><span class="mf_app">手机APP下载</span> <span class="mf_phone">慢慢买手机版</span> --掌上比价平台</p>
    <p>m.manmanbuy.com</p>
</div>
</body>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/template.js"></script>
<!--获取菜单栏-->
<script type='text/html' id='skip'>
    {{if result}}
    {{each result as value}}
        <h3>
            <a href='index.html'>首页</a>&nbsp;&gt;&nbsp;
            <a href='category.html'>全部分类</a>&nbsp;&gt;&nbsp;
            <a href='#'>{{value.category}}</a>&nbsp;&gt;&nbsp;
        </h3>
    <input class='n_btn' type="button" value="筛选">
    {{/each}}
    {{/if}}
</script>
<!--获取商品详情-->
<script type='text/html' id='commodity'>
    {{if result}}
    {{each result as value}}
    <a href="detail.html?{{value.productId}}" class='clearfix'>
        <div class='tele_list'>
            <i>{{#value.productImg}}</i></div>
        <div class="tele_txt">
            <p>{{value.productName}}</p>
            <span class="price">{{value.productPrice}}</span><br>
            <span class="comment">{{value.productQuote}}&nbsp;{{value.productCom}}</span>
        </div>
    </a>
    {{/each}}
    {{/if}}
</script>
<script>
    $(function () {
        var sele = location.search;
        var seid = +sele.slice(1);
        /*获取菜单栏*/
        $.ajax({
            type: 'get',
            url: 'http://127.0.0.1:3000/api/getcategorybyid',
            data: {categoryid: seid},
            dataType: 'json',
            success: function (result) {
                var html = template('skip', result);
                $('.nav').html(html);
            }
        })
        /*获取商品详情*/
        $.ajax({
            type: 'get',
            url: 'http://127.0.0.1:3000/api/getproductlist',
            data: {categoryid: seid},
            dataType: 'json',
            success: function (result) {
                var html = template('commodity', result);
                $('.tele_info').html(html);

            }
        })
        /*获取翻页*/
        $.ajax({
            type: 'get',
            url: 'http://127.0.0.1:3000/api/getproductlist',
            data: {categoryid: seid},
            dataType: 'json',
            success: function (result) {
                var pages = Math.ceil(result.totalCount/result.pagesize);
                var options= '';
                for(var i = 1; i <= pages; i++){
                    options += '<option value='+i +'>'+ i+'/'+ pages+'</option>';
                }
                $('#tel_sel').html(options);

                var index = 1;
                /*下一页*/
                $('.tp_down').on('click', function () {
                    if (index < pages) {
                        index ++;
                        $('option')[index - 1].selected = true;
                        $.ajax({
                            type: 'get',
                            url: 'http://127.0.0.1:3000/api/getproductlist',
                            data: {categoryid: seid, pageid: index},
                            dataType: 'json',
                            success: function (result) {
                                var html = template('commodity', result);
                                $('.tele_info').html(html);

                            }
                        })
                    } else {
                        index = pages;
                    }
                })
                /*上一页*/
                $('.tp_up').on('click', function () {
                    if (index > 1) {
                        index--;
                        $('option')[index - 1].selected = true;
                        $.ajax({
                            type: 'get',
                            url: 'http://127.0.0.1:3000/api/getproductlist',
                            data: {categoryid: seid, pageid: index},
                            dataType: 'json',
                            success: function (result) {
                                var html = template('commodity', result);
                                $('.tele_info').html(html);

                            }
                        })
                    } else {
                        index = 1;
                    }
                })
                /*select*/
                $('#tel_sel')[0].onchange = function () {
                    var sindex = +$('#tel_sel>option:selected').val();
                    $.ajax({
                        type: 'get',
                        url: 'http://127.0.0.1:3000/api/getproductlist',
                        data: {categoryid: seid, pageid: sindex},
                        dataType: 'json',
                        success: function (result) {
                            var html = template('commodity', result);
                            $('.tele_info').html(html);
                            pageid = sindex;
                        }
                    })
                }
            }
        })
    })


</script>
</html>